In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DataCoSupplyChainDataset.csv', encoding = 'unicode_escape')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [4]:
pd.set_option('display.max_columns', 54)

In [30]:
df.loc[df['Type'] == 'CASH']

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,XXXXXXXXX,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.750000,-0.80,1,327.750000,309.720001,-247.779999,South Asia,Rajastán,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
8,CASH,3,2,133.720001,278.589996,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Nichole,19485,Olsen,XXXXXXXXX,Corporate,PR,2051 Dusty Route,725.0,2,Fitness,18.233223,-66.037056,Pacific Asia,Guangzhou,China,19485,1/13/2018 10:00,75932,1360,49.160000,0.15,179247,327.750000,0.48,1,327.750000,278.589996,133.720001,Eastern Asia,Guangdong,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 10:00,Second Class
9,CASH,2,1,132.149994,275.309998,Late delivery,1,73,Sporting Goods,San Ramon,EE. UU.,XXXXXXXXX,Oprah,19484,Delacruz,XXXXXXXXX,Corporate,CA,9139 Blue Blossom Court,94583.0,2,Fitness,37.773991,-121.966629,Pacific Asia,Guangzhou,China,19484,1/13/2018 9:39,75931,1360,52.439999,0.16,179246,327.750000,0.48,1,327.750000,275.309998,132.149994,Eastern Asia,Guangdong,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 9:39,First Class
17,CASH,2,1,23.840000,317.920013,Late delivery,1,73,Sporting Goods,Paramount,EE. UU.,XXXXXXXXX,Ciara,19476,Bird,XXXXXXXXX,Corporate,CA,7787 Lazy Corners,90723.0,2,Fitness,33.898693,-118.174560,Pacific Asia,Jabalpur,India,19476,1/13/2018 6:51,75923,1360,9.830000,0.03,179238,327.750000,0.08,1,327.750000,317.920013,23.840000,South Asia,Madhya Pradesh,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 6:51,First Class
36,CASH,2,1,151.029999,314.640015,Late delivery,1,73,Sporting Goods,Carlisle,EE. UU.,XXXXXXXXX,Libby,19457,Bray,XXXXXXXXX,Corporate,PA,6127 Dewy Goose Downs,17013.0,2,Fitness,40.031719,-76.877098,Pacific Asia,Hubli,India,19457,1/13/2018 0:12,75904,1360,13.110000,0.04,179219,327.750000,0.48,1,327.750000,314.640015,151.029999,South Asia,Karnataka,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 0:12,First Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180467,CASH,2,1,27.900000,371.980011,Late delivery,1,45,Fishing,Panorama City,EE. UU.,XXXXXXXXX,Mary,4164,Smith,XXXXXXXXX,Consumer,CA,9767 Merry Manor,91402.0,7,Fan Shop,35.406689,-118.895302,Pacific Asia,Nagpur,India,4164,1/18/2016 19:05,26224,1004,28.000000,0.07,65639,399.980011,0.08,1,399.980011,371.980011,27.900000,South Asia,Maharashtra,CLOSED,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 19:05,First Class
180496,CASH,2,4,145.190002,399.980011,Advance shipping,0,45,Fishing,Costa Mesa,EE. UU.,XXXXXXXXX,Mary,2555,Long,XXXXXXXXX,Consumer,CA,1022 Dusty Glen,92626.0,7,Fan Shop,33.676708,-117.921905,Pacific Asia,Shanghái,China,2555,1/16/2016 22:14,26096,1004,0.000000,0.00,65326,399.980011,0.36,1,399.980011,399.980011,145.190002,Eastern Asia,Shanghái,CLOSED,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 22:14,Standard Class
180498,CASH,3,4,-337.100006,391.980011,Advance shipping,0,45,Fishing,Lindenhurst,EE. UU.,XXXXXXXXX,Mary,2642,Gould,XXXXXXXXX,Consumer,NY,1812 Sunny River Wharf,11757.0,7,Fan Shop,40.686657,-73.375534,Pacific Asia,Palembang,Indonesia,2642,1/16/2016 19:05,26087,1004,8.000000,0.02,65296,399.980011,-0.86,1,399.980011,391.980011,-337.100006,Southeast Asia,Sumatra Meridional,CLOSED,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 19:05,Standard Class
180504,CASH,3,4,32.029999,363.980011,Advance shipping,0,45,Fishing,Caguas,Puerto Rico,XXXXXXXXX,Ryan,8183,Giles,XXXXXXXXX,Corporate,PR,2137 Silver Brook Square,725.0,7,Fan Shop,18.240986,-66.370552,Pacific Asia,Canberra,Australia,8183,1/16/2016 13:49,26072,1004,36.000000,0.09,65258,399.980011,0.09,1,399.980011,363.980011,32.029999,Oceania,Territorio de la Capital Australiana,CLOSED,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 13:49,Standard Class
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,EE. UU.,XXXXXXXXX,Maria,1005,Peterson,XXXXXXXXX,Home Office,NY,1322 Broad Glade,11207.0,7,Fan Shop,40.640930,-73.942711,Pacific Asia,Shanghái,China,1005,1/16/2016 3:40,26043,1004,0.000000,0.00,65177,399.980011,0.10,1,399.980011,399.980011,40.000000,Eastern Asia,Shanghái,CLOSED,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class

In [32]:
df['Order Status'].value_counts()

COMPLETE           59491
PENDING_PAYMENT    39832
PROCESSING         21902
PENDING            20227
CLOSED             19616
ON_HOLD             9804
SUSPECTED_FRAUD     4062
CANCELED            3692
PAYMENT_REVIEW      1893
Name: Order Status, dtype: int64

In [33]:
df['Type'].value_counts()

DEBIT       69295
TRANSFER    49883
PAYMENT     41725
CASH        19616
Name: Type, dtype: int64

In [24]:
df['Sales'][25700]

239.96000669999998

In [25]:
df['Sales per customer']

0         314.640015
1         311.359985
2         309.720001
3         304.809998
4         298.250000
             ...
180514    399.980011
180515    395.980011
180516    391.980011
180517    387.980011
180518    383.980011
Name: Sales per customer, Length: 180519, dtype: float64

In [18]:
# remove from DataFrame

# df['Product Status'].value_counts()
# df['Product Description'].value_counts()
# df['Customer Email'].value_counts()
df['Order Id'].value_counts()

30397    5
16203    5
42806    5
49302    5
60278    5
        ..
41140    1
34752    1
75636    1
73587    1
2049     1
Name: Order Id, Length: 65752, dtype: int64

In [17]:
df['Department Name'].value_counts()

Fan Shop              66861
Apparel               48998
Golf                  33220
Footwear              14525
Outdoors               9686
Fitness                2479
Discs Shop             2026
Technology             1465
Pet Shop                492
Book Shop               405
Health and Beauty       362
Name: Department Name, dtype: int64

In [28]:
df[''].value_counts()

KeyError: 'State'

In [11]:
df['Order State'].value_counts()
# df['Delivery Status'].value_counts()
# df['Late_delivery_risk'].value_counts()
# Order Zipcode

Inglaterra                     6722
California                     4966
Isla de Francia                4580
Renania del Norte-Westfalia    3303
San Salvador                   3055
                               ...
Kabarole                          1
Terranova                         1
Tottori                           1
Suceava                           1
Mashonalandia Occidental          1
Name: Order State, Length: 1089, dtype: int64

In [26]:
df['Department Id'].value_counts()

7     66861
4     48998
5     33220
3     14525
6      9686
2      2479
9      2026
10     1465
11      492
8       405
12      362
Name: Department Id, dtype: int64

In [8]:
df['Product Name'].value_counts().head(20)

Perfect Fitness Perfect Rip Deck                 24515
Nike Men's CJ Elite 2 TD Football Cleat          22246
Nike Men's Dri-FIT Victory Golf Polo             21035
O'Brien Men's Neoprene Life Vest                 19298
Field & Stream Sportsman 16 Gun Fire Safe        17325
Pelican Sunstream 100 Kayak                      15500
Diamondback Women's Serene Classic Comfort Bi    13729
Nike Men's Free 5.0+ Running Shoe                12169
Under Armour Girls' Toddler Spine Surge Runni    10617
Fighting video games                               838
Children's heaters                                 652
Summer dresses                                     650
Web Camera                                         592
Toys                                               529
Adult dog supplies                                 492
Lawn mower                                         484
Porcelain crafts                                   484
DVDs                                               483
Dell Laptop                                        442
Rock music                                         434
Name: Product Name, dtype: int64

In [9]:
df['Customer Id'].value_counts()

5654     47
5004     45
10591    45
5715     44
3708     44
         ..
13486     1
17887     1
15952     1
13905     1
14375     1
Name: Customer Id, Length: 20652, dtype: int64

In [10]:
df['Customer Segment'].value_counts()

Consumer       93504
Corporate      54789
Home Office    32226
Name: Customer Segment, dtype: int64